<h1>Edit Question of the Day </h1>


<%=form_for(@draft_message, html: { multipart: true }) do |f|%>
	
	
	<%=f.label :question, "Question You're Asking"%>
	<%=f.text_field :question, placeholder: "Am I Cooler than Seth?"%> <br>

	< %=image_tag @draft_message.image.s3_image_loc_url.to_s %>


	<%=f.label :button1, "Option 1 Button"%>
	<%=f.text_field :button1, placeholder: "Yes I Am"%> <br>

	<%=f.label :response1, "Response"%>
	<%=f.text_field :response1, placeholder: "Sorry, not today.  Guess Again."%> <br>

	<%=f.label :button2, "Option 2 Button"%>
	<%=f.text_field :button2, placeholder: "No I'm Not"%> <br>

	<%=f.label :response2, "Response"%>
	<%=f.text_field :response2, placeholder: "Very Smart"%> <br><br>

	
	<%=submit_tag "Update", class: "btn btn-small btn-success"%>

<%end%>







<!--


< %=f.label :image, "Add Image Here"%>
< %=f.file_field :image%> 
< %=image_tag @draft_message.image_url(:thumb).to_s %>
-->