<h1>
	<% if @type == "existing" %>
 		Forward It
 	<%else %>
 		Question of the Day
 	<%end%>
 </h1>


<%=form_for(@new_message, html: { multipart: true }) do |f|%>
	
	
	<%=f.hidden_field :image_id%><br>

	< %=image_tag Image.find(@new_message.image_id).s3_image_loc_url.to_s %>


	<%=f.label :question, "Question You're Asking"%>
	<%=f.text_field :question, placeholder: "Am I Cooler than Seth?"%> <br>


	<%=f.label :button1, "Option 1 Button"%>
	<%=f.text_field :button1, placeholder: "Yes I Am"%> <br>

	<%=f.label :response1, "Response"%>
	<%=f.text_field :response1, placeholder: "Sorry, not today.  Guess Again."%> <br>

	<%=f.label :button2, "Option 2 Button"%>
	<%=f.text_field :button2, placeholder: "No I'm Not"%> <br>

	<%=f.label :response2, "Response"%>
	<%=f.text_field :response2, placeholder: "Very Smart"%> <br>

	<%=f.hidden_field :origin_message %>
	<%=f.hidden_field :user_id%>
	< %=f.hidden_field :identifier%>
	<%=submit_tag "Preview"%>

<%end%>