<h2>Send Options</h2>

	<a class="btn btn-small btn-primary"href="mailto:?subject=<%=@message.question%>&body=Find Out: <%=message_url(@message)%>">Send as Email</a>
	<br>
	<br>

	<a class="btn btn-small btn-primary" href="sms:;body=<%=@message.question + " Find Out: " + message_url(@message)%>">Send Text on Android</a>
	<br>
	<br>
	<b>Send Text on iPhone</b>
		<ol>
			<li> Copy this: <i><br></li>
				<%= text_area_tag "stuff_to_copy", "#{@message.question}  Find out at: #{message_url(@message)}", rows: 3%>
			<li> <a class="btn btn-small  btn-primary"href="sms:;body=<%=@message.question + " Find Out: " + message_url(@message)%>">Open iMessage</a> and Paste</li>
		</ol>
<br>
<%= link_to "Return to Message", message_path(@message)%> | <%= link_to "Create New Message", new_image_path%>


