

<h2><%="#{@message.title}-o-Meter"%></h2>

<%if @response == 1%>
<i><h3><%=@message.response1%></h3></i>
<%elsif @response == 2%>
<i><p><b><%=@message.response2%></p></b></i>
<%else%>
<%end%>

<%=image_tag @message.image_url(:thumb).to_s %>


<h4><%="#{@message.question}"%></h4>

<%=link_to @message.button1, message_path(@message, response: 1)%> OR 
<%=link_to @message.button2, message_path(@message, response: 2)%>


<br>
<% if @message.status != "sent"%>
<br>
<%=link_to "Send Message",  message_path(@message, send_status: "send"), method: :put%> |
<%=link_to "Edit Message",  edit_message_path(@message)%> 
<%end%>
<br>
<%if @response != 0 && @message.status == "sent"%>
	<%=link_to "Forward",  new_message_path(origin_id: @message.id, type: "existing")%> |
	<%=link_to "Create New",  new_message_path(origin_id: @message.id, type: "new")%> 
	
	<%end%>