
<!--
<h2>< %="#{@message.title}-o-Meter"%></h2>
-->
<br>

<ul class="thumbnails">
  <li class="span12">
    <div class="thumbnail" align="middle">
      <h3>Question of the Day</h3>
      <%=image_tag @message.image.s3_image_loc_url.to_s %>

      <h4><%="#{@message.question}"%></h4>
      <p>

					<a href=<%=message_path(@message, response: 1)%>><%=@message.button1%></a>&nbsp&nbsp | &nbsp&nbsp 
					<a href=<%=message_path(@message, response: 2)%>><%=@message.button2%></a>
      </p>
      <p><b><i>
        <%if @response == 1%>
          <%=@message.response1%>
        <%elsif @response == 2%>
          <%=@message.response2%>
        <%end%>
      </p></b></i>
    </div>
  </li>
</ul>

<% if @message.status != "sent"%>
<br>

<%=link_to "Send",  send_options_path(message_id: @message.id)%> |
  
<%=link_to "Edit Message",  edit_message_path(@message)%> 
<%end%>
<br>
<%if @response != 0 && @message.status == "sent"%>
	<%=link_to "Forward",  new_message_path(origin_id: @message.id, type: "existing")%> |
	<%=link_to "Create New",  new_image_path(origin_id: @message.id, type: "new")%> 
	
	<%end%>

  