
<!--
<h2>< %="#{@message.title}-o-Meter"%></h2>
-->
<br>
<%if @response == 1%>
<i><p><b><%=@message.response1%></p></i></b>
<%elsif @response == 2%>
<i><p><b><%=@message.response2%></p></b></i>
<%else%>
<%end%>



<ul class="thumbnails">
  <li class="span12">
    <div class="thumbnail" align="middle">
      <%=image_tag @message.image.s3_image_loc_url.to_s %>

      <h4><%="#{@message.question}"%></h4>
      <p>

					<a href=<%=message_path(@message, response: 1)%>><%=@message.button1%></a>
					<a href=<%=message_path(@message, response: 2)%>><%=@message.button2%></a>
      </p>
    </div>
  </li>
</ul>

<br>
<% if @message.status != "sent"%>
<br>
<%=link_to "Send Message",  message_path(@message, send_status: "send"), method: :put%> |
<%=link_to "Edit Message",  edit_message_path(@message)%> 
<%end%>
<br>
<%if @response != 0 && @message.status == "sent"%>
	<%=link_to "Forward",  new_message_path(origin_id: @message.id, type: "existing")%> |
	<%=link_to "Create New",  root_path(origin_id: @message.id, type: "new")%> 
	
	<%end%>