

<h1><%="#{@message.title}-o-Meter"%></h1>

<%if @response == 1%>
<h2><%=@message.response1%></h2>
<%elsif @response == 2%>
<h2><%=@message.response2%></h2>
<%else%>
<%end%>

<%=image_tag @message.image_url(:thumb).to_s %>


<p><%="#{@message.question}"%></p>

<%=link_to @message.button1, message_path(@message, response: 1)%> OR 
<%=link_to @message.button2, message_path(@message, response: 2)%>


<br><br>
<% if @message.status != "sent"%>
<%=link_to "Send Message",  message_path(@message, send_status: "send"), method: :put%> |
<%=link_to "Edit Message",  edit_message_path(@message)%> 
<%end%>
<br><br>
<%if @response != 0 && @message.status == "sent"%>
	<%=link_to "Forward",  new_message_path(origin_id: @message.id, type: "existing")%> |
	<%=link_to "Create New",  new_message_path(origin_id: @message.id, type: "new")%> 
	
	<%end%>