


<ul class="thumbnails">
  <li class="span12">
    <div class="thumbnail" align="middle">
      <h3 id="qod" >Question of the Day</h3>
      <%=image_tag @message.image.s3_image_loc_url.to_s, id: "res_loc" %>

      <h4><%="#{@message.question}"%></h4>
      
			<div style= "line-height: 2.3" >		
        <a class="btn btn-small btn-success" href=<%=message_path(@message, response: 1, anchor: "res_loc")%>><%=@message.button1%></a>
				<a class="btn btn-small btn-danger"  href=<%=message_path(@message, response: 2, anchor: "res_loc")%>><%=@message.button2%></a>
      </div>
      <p><b><i>
        <%if @response == 1%>
          <%=@message.response1%>
        <%elsif @response == 2%>
          <%=@message.response2%>
        <%end%>
      </p></b></i>

    </div>
  </li>
</ul>



<% if @message.user.is_admin?%>

<div class="fb-like" data-href="http://o-meter.herokuapp.com/messages/<%=@message.identifier%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>


<%end%>







<br><br><br>








<% if @message.status != "sent"%>

  <button type="button" class="btn btn-mini btn-info" data-toggle="collapse" data-target="#demo">?</button>
  <div id="demo" class="collapse out">
    <small>
      Send it or Edit it?<br>
      <ul>
        <li>This is the view your friends will see once you send it to them.</li>
        <li>Press the buttons... do they work as intended?</li>
        <li>Is this pure comic gold?.... or are you leaving a little bit on the table? </li>        
        <li>Edit it more or send it... your call.</li>
      <ul>
    </small>
    <hr />
  </div><br>


<%=link_to "Save & Send",  send_options_path(message_id: @message.id)%> &nbsp;&nbsp;|&nbsp;&nbsp;
  
<%=link_to "Edit",  edit_message_path(@message, anchor: "qod")%> 
<%end%>
<%if @response != 0 && @message.status == "sent"%>

<button type="button" class="btn btn-mini btn-info" data-toggle="collapse" data-target="#demo">?</button>
  <div id="demo" class="collapse out">
    <small>
      You've just receive an o-meter Question of the Day.  What do you want to do?<br>
      <ul>
        <li>Go back to work and later curse your friend for wasting your time.</li>
        <li>Forward it to others?... press the Forward Button.</li>
        <li>Perhaps you were the topic of the Question of the Day... and didn't like it.  Craft a reply using the same image.</li>        
        <li>Create a New One from scratch?... you guessed it...  Press Create New.</li>
      <ul>
    </small>
    <hr />
  </div><br>



	<%=link_to "Forward",  new_message_path(origin_id: @message.id, forward: true, anchor: "qod")%> |
	<%=link_to "Create a Reply",  new_message_path(origin_id: @message.id, anchor: "qod")%> |
  <%=link_to "Create Your Own",  new_image_path%> 
	
	<%end%>

  

