<%=form_for(@poll, html: { multipart: true }) do |f|%>

	<%=image_tag @poll.image.s3_image_loc_url.to_s %> 

	<%=f.label :question, "Question You're Asking"%>
	<%=f.text_area :question, rows: 1, placeholder: "Am I Cooler than Seth?"%> <br>

	<div class="control-group success">
	<%=f.label :button1, "Green Answer Button"%>
	<%=f.text_area :button1, rows: 1,  placeholder: "Yes I Am"%>

	<%=f.label :response1, "Response When Green Button Pushed"%>
	<%=f.text_area :response1, rows: 2, placeholder: "Sorry, not today.  Guess Again."%>
	</div>
	<div class="control-group error">
	<%=f.label :button2, "Red Answer Button"%>
	<%=f.text_area :button2, rows: 1, placeholder: "No I'm Not"%>

	<%=f.label :response2, "Response When Red Button Pushed"%>
	<%=f.text_area :response2, rows:2, placeholder: "Very Smart"%>
	</div>

	<%=submit_tag "Preview", class: "btn btn-small btn-primary"%>

	<%=f.hidden_field :image_id%>
	<%=f.hidden_field :origin_poll %>
	<%=f.hidden_field :user_id%>

<%end%>




