

<%if current_user%>
	<% count = 0 %>
	<% current_user.polls.each do |poll| %>
		<%count += poll.page_views%>
	<%end%>

	<h3>Popularity Ranking</h3>
		<% if count > 0%>
			<b>Popularity Rank: </b> <%=@rank%> |		
		<%end%>
		<b>Total JiffyQ Questions:</b> <%= current_user.polls.count %> |
		<b>Total Page Views:</b> <%=count%>
<%end%>
<hr />
<%unless @favorites == [] %>
	<h3>My Favorites</h3>


	<% @favorites.each do |favorite|%>	
		<div class="nails">
      <a href=<%=poll_path(favorite.poll)%>>
      	<img style="height: 25px; border: 1px solid #A8B2B5" src=<%=favorite.poll.image.s3_image_loc_url.to_s%>> 
      	<%= link_to truncate(favorite.poll.question, length: 62), poll_path(favorite.poll, anchor: "1") %> 
				(<%=favorite.poll.page_views.to_i%>)
			</a>
			&nbsp;&nbsp;
			<small>
				<%=link_to "remove", favorite_path(favorite), method: :delete, confirm: "Are you sure you want to remove this as a favorite?", style: 'color:#FF0000'%>
			</small>
		</div>
		<br>
	<% end %>

	<small style="color:grey"><i>If a person deletes a question that they created, it will no longer show up as one of your favorites.</i></small>
<hr />
<%end%>

<h3>My Questions</h3>

<% @polls.each do |poll|%>

	<div class="nails">
		<a href=<%=poll_path(poll)%>>
      	<img style="height: 25px; border: 1px solid #A8B2B5" src=<%=poll.image.s3_image_loc_url.to_s%>> 
		<%= link_to truncate(poll.question, length: 62), poll_path(poll, anchor: "1") %> 
	(<%=poll.page_views.to_i%>)
</a>
	
&nbsp;&nbsp;
	<small>
		<%=link_to "delete", poll_path(poll.image_id, identifier: poll.identifier), method: :delete, confirm: "Are you sure you want to delete this?", style: 'color:#FF0000' %>
	</small>
	</div>
	<br>

<% end %>

<hr />
<i><small style="color:grey">The number in parentheses represents the number of times the JiffyQ question has been viewed, excluding the author's views.</small></i>

