<%unless @favorites == [] %>
	<h3>My Favorites</h3>

	<% @favorites.each do |favorite|%>
		<p>
			<%= link_to favorite.poll.question, poll_path(favorite.poll) %> 
			(<%=favorite.poll.page_views.to_i%>)

			<%=link_to "Remove", favorite_path(favorite), method: :delete, confirm: "Are You Sure?", class: "btn btn-mini btn-danger" %>
		</p>
	<% end %>

	<small>Note: If a person deletes a poll that they created, it will no longer show up as one of your favorites</small>
<hr />
<%end%>

<h3>My Polls</h3>

<% @polls.each do |poll|%>

	<p>
	<%= link_to poll.question, poll_path(poll) %> 
	(<%=poll.page_views.to_i%>)
	
	<%=link_to "Delete", poll_path(poll.image_id, identifier: poll.identifier), method: :delete, confirm: "Are You Sure?", class: "btn btn-mini btn-danger" %>
	</p>

<% end %>


