<h3>Send Options</h3>

	<a class="btn btn-small btn-primary"href="mailto:?subject=<%=@poll.question%>&body=Find Out: <%=poll_url(@poll)%>">Send as Email</a>
	<br>
	<br>
	<b>Send as Text</b>
		<ol>
			<li> Copy this:<br></li>
				<%= text_area_tag "stuff_to_copy", "#{@poll.question}  Answer at: #{poll_url(@poll)}", rows: 3%>
			<li> <a class="btn btn-small  btn-primary"href="sms:;body=<%=@poll.question + " Find Out: " + poll_url(@poll)%>">Open TextMessenger</a> and Paste</li>
		</ol>
<br><br>

<% if @poll.user.is_admin?%>
		<div class="fb-like" data-href="www.jiffypoll.com/polls/<%=@poll.identifier%>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		<br><br>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.jiffypoll.com/polls/<%=@poll.identifier%>" data-text="<%=@poll.question%> Answer at: ">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>




<%end%>

<br><br>


<%= link_to "Return to Question", poll_path(@poll, anchor: "1")%> | <%= link_to "Create Another", new_image_path%>


