


<ul class="thumbnails">
  <li class="span12">
    <div class="thumbnail" align="middle">
      <h4 id="1" ><%="#{@poll.question}"%></h4>
      <%if @poll.image%>
        <%=image_tag @poll.image.s3_image_loc_url.to_s, id: "2" %>
      <%else%>
      <%=image_tag "/the_bomb.png", id: "2"%>
      <%end%>
      <br>

      <div style= "width:212px" >   
        <%if @response == 0%>
          <a class="btn btn-small btn-block btn-success" href=<%=poll_path(@poll, response: 1, anchor: "2")%>><%=@poll.button1%></a>
  			 <a class="btn btn-small btn-block btn-danger"  href=<%=poll_path(@poll, response: 2, anchor: "2")%>><%=@poll.button2%></a>
        <%elsif @response == 1%>
          <a class="btn btn-small btn-block disabled" href=<%=poll_path(@poll, response: 1, anchor: "2")%>><%=@poll.button1%></a>
          <a class="btn btn-small btn-block btn-danger"  href=<%=poll_path(@poll, response: 2, anchor: "2")%>><%=@poll.button2%></a>
        <%elsif @response == 2%>
          <a class="btn btn-small btn-block btn-success" href=<%=poll_path(@poll, response: 1, anchor: "2")%>><%=@poll.button1%></a>
          <a class="btn btn-small btn-block disabled"  href=<%=poll_path(@poll, response: 2, anchor: "2")%>><%=@poll.button2%></a>
        <%end%>
      </div>
      <br>
      <p>

        
        <%if @response == 1%>
          <%other_button_color = "red"%>
          <%next_step_response = "For another laugh, press the #{other_button_color} button"%>
          <b><%=@poll.response1%></b><br><br><i><small style="color:grey"><%=next_step_response%></small></i>
        <%elsif @response == 2%>
          <%other_button_color = "green"%>          
        <%next_step_response = "For another laugh, press the #{other_button_color} button"%>
          <b><%=@poll.response2%></b><br><br><i><small style="color:grey"><%=next_step_response%></small></i>
        <%end%>
      </p></b>

    </div>
  </li>
</ul>


<% if @poll.user.is_admin? && @poll.status == "sent"%>

    <div class="fb-like" data-href="http://www.jiffypoll.com/polls/<%=@poll.identifier%>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <br><br>
   <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.jiffypoll.com/polls/<%=@poll.identifier%>" data-text="<%=@poll.question%> Answer at: ">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<%end%>

<br><br>

<br><br><br>

<% if @poll.status != "sent"%>

  <button type="button" class="btn btn-mini btn-info" data-toggle="collapse" data-target="#demo">?</button>
  <div id="demo" class="collapse out">
    <small>
      Send it or Edit it?<br>
      <ul>
        <li>This is the view your friends will see once you send it to them.</li>
        <li>Press the buttons... do they work as intended?</li>
        <li>Is this pure comic gold?.... or are you leaving a little bit on the table? </li>        
        <li>Edit it more or send it... your call.</li>
      <ul>
    </small>
    <hr />
  </div><br>


<%=link_to "Save & Send",  send_options_path(poll_id: @poll.id)%> &nbsp;&nbsp;|&nbsp;&nbsp;
  
<%=link_to "Edit",  edit_poll_path(@poll, anchor: "1")%> 
<%end%>

<%if (@response != 0 && @poll.status == "sent") || (current_user && @poll.status == "sent") %>

<button type="button" class="btn btn-mini btn-info" data-toggle="collapse" data-target="#demo">?</button>
  <div id="demo" class="collapse out">
    <small>
      You've just received a JiffyPoll of the Day.  What do you want to do?<br>
      <ul>
        <li>Go back to work and later curse your friend for wasting your time.</li>
        <li>Forward it to others?... press the Forward Button.</li>      
        <li>Create a New One from scratch?... you guessed it...  Press Create New.</li>
      <ul>
    </small>
    <hr />
  </div><br>


	<%=link_to "Forward", send_options_path(poll_id: @poll.id)%> |
  <%=link_to "Create Your Own",  new_image_path%> 
  <%if user_signed_in?%>
    <%if Favorite.where(poll_id: @poll.id).where(user_id: current_user.id).first == nil%>
    | <%=link_to "Add to Favorites",  favorites_path(identifier: @poll.identifier), method: :post%>
    <%end%>
  <%else%>
    | <%=link_to "Add to Favorites",  new_user_session_path%>
  <%end%>
	
	<%end%>
  


  

